/*
Things specific to this tutorial,
including how to centralize your stimuli 
using a parent and child class!
*/

body {
    text-align: center;
}

.parent {
    position:absolute;
    top:0;
    left:0;
    right:0;     
    width: 75%;
    height: 100%;
    display: table;
    margin-left: auto;
    margin-right: auto;    
}
.child {
    display: table-cell;
    vertical-align: middle;

    margin-left: auto;
    margin-right: auto;    
}

.jspsych-categorize-stimulus {
    vertical-align: middle
}
